@import 'abstracts/Variables';
@import 'base/Base';
@import 'base/Typography';

html {
  text-align: center;
}

header {
  background-color: #282c34;
  width: 100%;
}

.twits-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  list-style: none;
}

.twits-container__item {
  width: 300px;
  margin: auto;
}

.twits-container__item--title {
  color: $color-blue-light;
  font-size: 1.8rem;
}

.twits-container__item--message {
  width: 100%;
}