.body__symbol-input {

  display: block;
  
  &--name {
    display: block;
  }
  
  &--label {
    display: block;
    margin: 2rem auto;
  }
}

.body__display--symbol-list {
  margin: 0 auto 2rem;
  padding: 2rem;
}