.messageList__twit-list {
  background-color: $color-white;
  list-style: none;

  &--post {
    padding: .5rem;
    border-radius: 3px;
  }
}

.twits {
  width: 100%;
}

.twits-container {
  width:100%;
  list-style: none;
  margin: auto;
  text-align: center;
}

.twits-container__item {
  float: left;
  border: 1px solid $color-black;
  border-radius: 3px;
  max-width: 40rem;
  height: 50rem;
  padding: 2rem;
  margin-right: 2rem;
  overflow: scroll;  
  text-align: left;
  box-shadow: 0 1rem 2rem rgba($color-grey-dark-2, .8);
  -webkit-box-shadow: 0 1rem 2rem rgba($color-grey-dark-2, .8);
  -moz-box-shadow: 0 1rem 2rem rgba($color-grey-dark-2, .8);

  position: relative;
}

.twits-container__item--message {
  width: 100%;
}
