*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // sets 1rem to 10px
  font-size: 62.5%;
  text-align: center;
}

body {
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.error-text {
  color: $color-red-error;
}

.App__header {
  padding: 3rem;
  font-size: 1.9rem;
  color: white;
}

.messageList__twit-list {
  color: $color-grey-dark-1;
  font-size: 1.7rem;

  &--username {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: $color-grey-light;
  }
}

.twits-container__item--title {
  color: $color-black;
  font-size: 1.8rem;
  padding-bottom: 2rem;
}