*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  height: 100vh;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  position: relative; }

body {
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

.error-text {
  color: red; }

header {
  font-size: calc(10px + 2vmin);
  color: white; }

html {
  text-align: center; }

header {
  background-color: #282c34;
  width: 100%; }

.twits-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  list-style: none; }

.twits-container__item {
  width: 300px;
  margin: auto; }

.twits-container__item--title {
  color: skyblue;
  font-size: 1.8rem; }

.twits-container__item--message {
  width: 100%; }
